body{
  background: lightgreen;
}

nav{
    background: black;
    padding: 10px;
    margin:0px;
    }
nav ul li{
          list-style: none;
          display: inline;
          margin-left: 20px;
         }
         nav ul li button{
                           background: lightgreen;
                           width: 100px;
                           height: 50px;
                           border-color: white;
                           border-style: solid;
                         }
                         nav ul li button:hover{
                                                background: green;
                                                cursor: pointer;
                                               }


#contstorage{
             margin-top: 50px;
             width: 584px;
             display: none;
            }

#btnsve{
        margin-bottom: 0px;
        margin-top: 0px;
       }


#contwebsocket{
               display: none;
              }
#mensaje{
         width: 400px;
         margin-bottom: 5px;
        }

#contsvg{
         display: none;
        }

#contcanvas{
            border-color: white;
            border-style: solid;
            display: none;
            width: 900px;
            height: 300px;
           }
